main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.action{
    width: 70%;
    height: 80%;
}

.action h2{
    margin: 1.5rem 0;
}

.container-campos-entidades{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    padding: 0 9rem;
}

#entidades-cadastradas-title{
    font-size: 3rem;
}

.campos-entidades{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
}


.campos-entidades h2,a{
    font-size: 2rem;    
    font-family: "Poppins";
}

.btn-campos-entidades-cadastradas{
    width:50%;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    text-decoration: none;
    padding: .3rem;
}

#dados-lares{
    text-decoration-color: var(--primary-color);
}

hr{
    width: 100%;
}
