main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.action{
    width: 70%;
    height: 80%;
}

.action h2{
    margin: 1.5rem 0;
}

.container-campos-entidades{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    padding: 0 9rem;
}

#entidades-cadastradas-title{
    font-size: 3rem;
}

.campos-entidades{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
}


.campos-entidades h2,a{
    font-size: 2rem;    
    font-family: var(--primary-font);
    width: auto;
}

.btn-campos-entidades-cadastradas{
    width:50%;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    text-decoration: none;
    padding: .3rem;
}

#dados-lares{
    text-decoration-color: var(--primary-color);
}

hr{
    width: 100%;
}

/* Responsividade para telas abaixo de desktop (até 1024px) */
@media (max-width: 1024px) {
    .action {
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        padding: 1rem;
    }
    .entidades-cadastradas-container{
        display: none;
    }

    #entidades-cadastradas-title{
        font-size: 2rem;
    }

    .container-campos-entidades {
        padding: 0 2rem;
    }

    .campos-entidades {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .campos-entidades h2, .campos-entidades a {
        font-size: 1.5rem;
        width: 100%;
        margin: .35rem;
    }

    .btn-campos-entidades-cadastradas {
        width: 100%;
        padding: 0.5rem;
    }
}

/* Ajuste de título para telas menores */

/* Tablets (até 768px) */
@media (max-width: 768px) {
    #entidades-cadastradas-title {
        font-size: 2.5rem;
    }
}

/* Pequenos dispositivos móveis (até 480px) */
@media (max-width: 480px) {
    #entidades-cadastradas-title {
        font-size: 2rem;
    }
}

/* Muito pequenos dispositivos móveis (até 320px) */
@media (max-width: 320px) {
    #entidades-cadastradas-title {
        font-size: 1.5rem;
    }
}