*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}


:root{
    --primary-color: #FF5678;
    --secondary-color:#35E6E9;
    --border-color:#C0EBF4;
    --titles-font:"Roboto";
    --primary-font:"Poppins";
}

body{
    width: calc(100dvw - 1rem);
    height: 100dvh;
}

main{
    width: 100%;
    height: 100%;
    padding: 4rem;
    
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: .3fr 5fr .3fr;
    
    grid-template-areas: 
    ". ."
    "logo action"
    ". ."
    ;
}

h1,h2{
    font-family: var(--titles-font);
    font-weight: 500;
}

.logo{
    grid-area: logo;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.logo img{
    width: 100%;
}

.logo-title{
    font-size: 5rem;
}

.logo h1{
    font-size: 6rem;
}


[data-text="pink-color"]{
    color: var(--primary-color);
}

.action{
    grid-area: action;
    display: flex;
    gap: 4rem;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    border: 1px solid rgba(0, 0, 0, 0.301);
    border-radius: 1rem;
}
.action h2{
    font-size: 4rem;
    width: 80%;
}

.action-btn-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 2rem;
}

.action-btn{
    width: 90%;
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--primary-font);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    border-radius: 1rem;
    color: white;
}

#btn-cadastrar{
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
}

#btn-entidades-cadastradas{
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
}

.action-register{
    display: flex;
    width: 90%;
    gap: .5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1.5rem;
}

.action-register a{
    font-size: 1.7rem;
    color: black;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.582) ;
}

